@model CodeByteForum.ViewModels.ProfileViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Аккаунт";
}
@section Styles {
    <link href="@Url.Content("~/css/account.css")" rel="stylesheet" type="text/css" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Профиль @Model.User.Login</title>
</head>
<body>
    <div class="container">
        <h1 class="active" align="center">Информация о @Model.User.Login</h1>
        <div class="account d-flex justify-content-between">
            <div class="flex-shrink-1 flex-grow-1">
                @if (Model.User.Posts?.Count > 0)
                {
                    <ul class="list-group" align="center">
                        <li class="list-group-item active">Посты от пользователя</li>
                        @foreach (Post post in Model.User.Posts)
                        {
                            <li class="list-group-item">
                                <a asp-action="Question" asp-controller="Post" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h3>Пользователь не имеет постов.</h3>
                }
            </div>
            <div class="account-info">
                <div>
                    <p>Почта: @Model.User.Email</p>
                    <p>Логин: @Model.User.Login</p>
                    <p>Количество постов: @Model.User.Posts.Count</p>
                    <p>Количество ответов: @Model.User.Answers.Count</p>
                    @if (Model.User.Login == User.Identity.Name)
                    {
                        <button id="email-change-btn">Сменить почту</button>
                        <button id="password-change-btn">Сменить пароль</button>

                    }
                </div>
                <div id="change-info">
                    <form asp-antiforgery="true" asp-action="Settings">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div id="email-change-form">
                            <p><label>Почта: <br /><input asp-for="@Model.NewEmail" value="@Model.User.Email"/></label></p>
                            <span asp-validation-for="@Model.User.Email"></span>
                        </div>
                        <div id="password-change-form">
                            <p><label>Старый пароль: <br /><input asp-for="@Model.OldPassword" /></label></p>
                            <span asp-validation-for="@Model.OldPassword"></span>
                            <p><label>Новый пароль: <br /><input asp-for="@Model.NewPassword" id="NP"/></label></p>
                            <span asp-validation-for="@Model.NewPassword" id="NPS"></span>
                            <p><label>Подтвердите пароль: <br /><input asp-for="@Model.ConfirmPassword" id="CP"/></label></p>
                            <span asp-validation-for="@Model.ConfirmPassword" id="CPS"></span>
                        </div>
                        <div id="save-div">
                            <p><input type="submit" value="Сохранить" id="save" /></p>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        var emailChangeButton = document.getElementById("email-change-btn");
        var passwordChangeButton = document.getElementById("password-change-btn");
        var emailChangeForm = document.getElementById("email-change-form");
        var passwordChangeForm = document.getElementById("password-change-form");
        var save = document.getElementById("save");
        var saveDiv = document.getElementById("save-div");
        emailChangeButton.addEventListener("click", () => {
            if (emailChangeForm.style.display == "block") {
                emailChangeForm.style.display = "none";
            }
            else {
                emailChangeForm.style.display = "block";
            }
            showOrHideSaveBut();
        });
        passwordChangeButton.addEventListener("click", () => {
            if (passwordChangeForm.style.display == "block")
                passwordChangeForm.style.display = "none";
            else
                passwordChangeForm.style.display = "block";
            showOrHideSaveBut();
        });
        var NP = document.getElementById("NP");
        var CP = document.getElementById("CP");
        NP.addEventListener("input", Check);
        CP.addEventListener("input", Check);
        
        function Check() {
            if (!(NP.value == CP.value)) {
                var CPS = document.getElementById("CPS");
                CPS.innerText = "Пароли не совпадают";
                save.disabled = true;
                console.log(NP.value + " " + CP.value);
            }
            else if (NP.value == CP.value) {
                var CPS = document.getElementById("CPS");
                CPS.innerText = "";
                console.log(NP.value + " " + CP.value);
                save.disabled = false;
            }
        }

        function showOrHideSaveBut() {
            if (passwordChangeForm.style.display == "block" || emailChangeForm.style.display == "block")
                saveDiv.style.display = "block";
            else
                saveDiv.style.display = "none";
        }

        var email = document.getElementById("User_Email");
        email.addEventListener("input", () => {
            email.value = email.value;
            console.log(email.value);
        })
    </script>
</body>
</html>
