@model CodeByteForum.ViewModels.ProfileViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Аккаунт";
}
@section Styles {
    <link href="@Url.Content("~/css/account.css")" rel="stylesheet" type="text/css" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <h1 class="active" align="center">Информация о @Model.User.Login</h1>
        <div class="account d-flex justify-content-between">
            <div class="flex-shrink-1 flex-grow-1">
                @if (Model.User.Posts?.Count > 0)
                {
                    <ul class="list-group" align="center">
                        <li class="list-group-item active">Посты от пользователя</li>
                        @foreach (Post post in Model.User.Posts)
                        {
                            <li class="list-group-item">
                                <a asp-action="Question" asp-controller="Post" asp-route-id="@post.Id">
                                    @post.Title
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h3>Пользователь не имеет постов.</h3>
                }
            </div>
            <div class="account-info">
                <p>Почта: @Model.User.Email</p>
                <p>Логин: @Model.User.Login</p>
                <p>Количество постов: @Model.User.Posts.Count</p>
                <p>Количество ответов: @Model.User.Answers.Count</p>
                @if (Model.User.Login == User.Identity.Name)
                {
                    <p><a asp-action="Settings">Настройки</a></p>
                }
            </div>
        </div>
    </div>

</body>
</html>
