@model IEnumerable<CodeByteForum.Models.Post>;
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link href="@Url.Content("~/css/home-index.css")" rel="stylesheet" type="text/css" />
}
<div class="container">
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="post">
                <p class="post-meta"><a href="#">@post.Sender</a> @post.PublishDate.ToString("dd/MM/yyyy HH:mm")</p>
                <h3 class="post-title">@post.Title</h3>
                <p>@post.Text</p>
                <hr />
                <a class="button-read"
                   asp-action="Question"
                   asp-controller="Post"
                   asp-route-id="@post.Id">
                    Читать далее...
                </a>
            </div>
        }
    </div>
</div>
