@model CodeByteForum.ViewModels.PostsListViewModel;
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link href="@Url.Content("~/css/home-index.css")" rel="stylesheet" type="text/css" />
}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            @foreach (var post in Model.Posts)
            {
                <div class="post">
                    <p class="post-meta">
                        <a asp-action="Profile" asp-controller="Account"
                           asp-route-login="@post.Sender.Login">
                        @post.Sender.Login
                        </a> 
                        @post.PublishDate.ToString("dd/MM/yyyy HH:mm")
                    </p>
                    <ul class="tags">
                        @foreach (var tag in post.Tags)
                        {
                            <li><a href="#">@tag</a></li>
                        }
                    </ul>
                    <br />
                    <h4 class="post-title">@post.Title</h4>
                    <p>@post.Text</p>
                    <br />
                    <a class="button-read"
                       asp-action="Question"
                       asp-controller="Post"
                       asp-route-id="@post.Id">
                        Читать
                    </a>
                </div>
            }
        </div>
        <div class="col-md-2">
            <div class="sidebar">
                <div class="header">Фильтр постов</div>
                <div class="main">
                    <form method="get">
                        <input type="date" disabled />
                        <input type="date" disabled />
                        <table>
                            <tr>
                                <td>Поиск:</td>
                                <td>
                                    <input name="searchTitle" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>Тэги:</td>
                                <td>
                                    <input name="searchTag" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right" colspan="2">
                                    <input type="submit" class="button-filter" 
                                           value="Применить" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>