@model IEnumerable<CodeByteForum.Models.Post>;
@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <a class="btn btn-dark" asp-action="Create" asp-controller="Post">Создать пост</a>

        <table class="table">
            <tr><td>Название</td><td>Автор</td><td>Тема</td></tr>
            @foreach (var post in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Question" 
                           asp-controller="Post" 
                           asp-route-id="@post.Id">
                            @post.Title
                        </a>
                    </td>
                    <td>
                        <a asp-action="Profile" 
                           asp-controller="Account" 
                           asp-route-id="@post.Sender.Id">
                            @post.Sender
                        </a>
                    </td>
                    <td>
                        @post.Topic
                    </td>
                </tr>
            }
        </table>
    </div>
