@model CodeByteForum.ViewModels.PostViewModel;
@{
    ViewData["Title"] = Model.Post.Title;
}
    <div>
        <h6>Автор: 
            <a asp-action="Profile" 
               asp-controller="Account" 
               asp-route-login="@Model.Sender.Login">
                @Model.Sender.Login
            </a>
        </h6>
        <h6>Дата создания: @Model.Post.PublishDate.ToString("dd/MM/yyyy HH:mm")</h6>
        <h6>Ответов: @Model.Post.AnswerCount</h6>
        <h6>Просмотров: @Model.Post.ViewsCount</h6>
        <dl class="dl-horizontal" style="border: 2px solid black; padding: 10px">
            <dt align="center"><h2>@Model.Post.Title</h2></dt>
            <dd>@Model.Post.Text</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt align="center">
                <h4>Оставить комментарий:</h4> <br />
            </dt>

            <dd>
                <form asp-action="Question" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="width: 100%">
                        <textarea name="_Text" class="form-control"></textarea>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="form-group">
                            <input type="submit" value="Оставить комментарий" class="btn btn-dark" asp-route-id="@Model.Post.Id" />
                        </div>
                    }
                    else
                    {
                         <a asp-action="Login" asp-controller="Account">Войдите, чтобы оставить комментарий</a>
                    }
                </form>
            </dd>
        </dl>
        @if (Model.Answers.Count > 0)
        {
            @foreach (Answer comment in Model.Answers)
            {
                <dl class="dl-horizontal" style="border: 2px solid black; padding: 10px">
                    <dt align="center"><h5>Комментарий от @comment.Sender.Email</h5></dt>
                    <dd>@comment.Text</dd>
                </dl>
            }
        }
        else
        {
            <br />
            <h4>Комментариев пока что нет</h4>
        }
</div>