@model CodeByteForum.ViewModels.PostViewModel;
@{
    ViewData["Title"] = Model.Post.Title;
}
@section Styles {
    <link href="@Url.Content("~/css/post-view.css")" rel="stylesheet" type="text/css" />
}
<div class="container">
    <div class="post-main">
        <div class="info-block">
            <h6>
                Автор:
                <a asp-action="Profile"
                   asp-controller="Account"
                   asp-route-login="@Model.Sender.Login">
                    @Model.Sender.Login
                </a>
            </h6>
            <h6>Дата создания: @Model.Post.PublishDate.ToString("dd/MM/yyyy HH:mm")</h6>
        </div>
        <h2 class="title">@Model.Post.Title</h2>
        <div class="main-text">
            @Model.Post.Text
        </div>
        <div class="info-block">
            <h6>Просмотров: @Model.Post.ViewsCount</h6>
            <h6>Ответов: @Model.Post.AnswerCount</h6>
        </div>
        @foreach (Answer comment in Model.Answers)
        {
            <hr class="line" />
            <div class="comment-inner">
                <div class="comment-userInfo">
                    <div class="comment-userAvatar"></div>
                    <div class="comment-userInfo-text">
                        <a asp-action="Profile"
                           asp-controller="Account"
                           asp-route-login="@comment.Sender.Login">
                            @comment.Sender.Login
                        </a>
                    </div>
                </div>
                <div class="comment-main">
                    <span>@comment.PublishDate.ToString("dd/MM/yyyy HH:mm")</span>
                    @comment.Text
                </div>
            </div>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="create-comment-main">
            <div class="comment-inner" style="padding-top:20px;">
                <div class="comment-userInfo">
                    <div class="comment-userAvatar"></div>
                    <div class="comment-userInfo-text">
                    </div>
                </div>
                <form asp-action="Question" asp-controller="Post" method="post">
                    <div class="comment-main">
                        <textarea name="_Text" class="textarea"></textarea>
                    </div>
                    <div align="right">
                        <input type="submit" 
                               value="Ответить" 
                               class="submit-create-comment" 
                               asp-route-id="@Model.Post.Id" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>