<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeByteForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header class="header">
        <div class="top-title">
            <div class="text1">Code Byte Forum</div>
            <div class="text2">Больше, чем любовь</div>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index">Что-то ещё</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacy">О сайте</a>
                </li>
            </ul>
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a style="border-radius: 0px 0px 0px 0px;" 
                           asp-action="Create" 
                           asp-controller="Post">Создать пост</a>
                    </li>
                    <li>
                        <a style="border-radius: 0px 0px 0px 0px;" 
                           asp-action="Profile"
                           asp-controller="Account"
                           asp-route-login="@User.Identity.Name"
                           >@User.Identity.Name</a>
                    </li>
                    <li>
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input class="logout" type="submit" value="Выход" />
                        </form>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="Account" asp-action="Login">Вход</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register">Регистрация</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <div>
        <main role="main" style="margin-top: 70px">
            @RenderBody()
        </main>
        <br />
        <div class="foot">
            <p>Контакты для связи: thposbsmt@protonmail.com</p>
            <p>Copyright © code-byte-forum.com 2020. Все права защищены</p>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
